In [77]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

SyntaxError: invalid syntax (Temp/ipykernel_6296/1606933325.py, line 3)

In [81]:
df = pd.read_csv('C:/Users/Lenovo/Documents/Especialización Finanzas/Semestre 2/Machine Learning/realestate/RDC_Inventory_Core_Metrics_Zip_History.csv')
print('Dataset has ',df.shape[0],' records and ',df.shape[1], ' columns' )
print(' ')
df

C:\Users\Lenovo\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (0,1,3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Dataset has  913084  records and  40  columns

,month_date_yyyymm,postal_code,zip_name,flag,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,...,median_square_feet_yy,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy
0,202107,33029,"hollywood, fl",*,589000.0,-0.0531,NaN,62.0,0.0333,-0.2874,...,-0.0544,6.048289e+05,-0.0577,0.1723,199.0,0.0365,-0.1532,2.209677,0.0097,0.5085
1,202107,12778,"smallwood, ny",NaN,169000.0,-0.0315,0.1267,15.0,0.0714,-0.1667,...,-0.1950,1.837562e+05,0.0315,-0.1380,16.0,0.0667,-0.1579,0.066667,-0.0048,0.0111
2,202107,12309,"schenectady, ny",NaN,349900.0,-0.0266,-0.0458,71.0,0.2456,-0.2447,...,-0.0506,3.893982e+05,-0.0873,0.0273,226.0,0.0089,-0.0960,2.183099,-0.7467,0.5235
3,202107,74074,"stillwater, ok",*,249900.0,0.0038,NaN,62.0,0.3191,-0.4095,...,-0.0808,3.097266e+05,-0.1173,-0.1517,145.0,0.0741,-0.1104,1.338710,-0.5336,0.7863
4,202107,21128,"perry hall, md",*,400000.0,-0.0475,0.0013,14.0,-0.1250,NaN,...,0.1223,4.497390e+05,0.0110,0.0389,51.0,-0.0192,1.0400,2.642857,0.3929,2.3929
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913079,201607,1245,"monterey, ma",NaN,699000.0,NaN,NaN,38.0,NaN,NaN,...,NaN,1.169303e+06,NaN,NaN,42.0,NaN,NaN,0.105263,NaN,NaN
913080,201607,91104,"pasadena, ca",NaN,775000.0,NaN,NaN,52.0,NaN,NaN,...,NaN,8.190427e+05,NaN,NaN,92.0,NaN,NaN,0.769231,NaN,NaN
913081,201607,37917,"knoxville, tn",NaN,94900.0,NaN,NaN,110.0,NaN,NaN,...,NaN,1.351687e+05,NaN,NaN,177.0,NaN,NaN,0.609091,NaN,NaN
913082,201607,73501,"lawton, ok",NaN,80000.0,NaN,NaN,70.0,NaN,NaN,...,NaN,1.028383e+05,NaN,NaN,70.0,NaN,NaN,0.000000,NaN,NaN
913083,* year-over-year figures may be impacted,please contact economics@realtor.com for more...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
## Limpieza de la Data

In [83]:
df.drop(df.tail(1).index,inplace=True)

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 913083 entries, 0 to 913082
Data columns (total 40 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   month_date_yyyymm                        913083 non-null  object
 1   postal_code                              913083 non-null  object
 2   zip_name                                 913083 non-null  object
 3   flag                                     110663 non-null  object
 4   median_listing_price                     913083 non-null  float64
 5   median_listing_price_mm                  714901 non-null  float64
 6   median_listing_price_yy                  655505 non-null  float64
 7   active_listing_count                     913083 non-null  float64
 8   active_listing_count_mm                  714900 non-null  float64
 9   active_listing_count_yy                  656222 non-null  float64
 10  median_days_on_market                    913083 non-null  float64
 11  median_days_on_market_mm                 714901 non-null  float64
 12  median_days_on_market_yy                 650146 non-null  float64
 13  new_listing_count                        913083 non-null  float64
 14  new_listing_count_mm                     640076 non-null  float64
 15  new_listing_count_yy                     635441 non-null  float64
 16  price_increased_count                    913083 non-null  float64
 17  price_increased_count_mm                 90137 non-null   float64
 18  price_increased_count_yy                 87781 non-null   float64
 19  price_reduced_count                      913083 non-null  float64
 20  price_reduced_count_mm                   563822 non-null  float64
 21  price_reduced_count_yy                   579733 non-null  float64
 22  pending_listing_count                    913083 non-null  float64
 23  pending_listing_count_mm                 615963 non-null  float64
 24  pending_listing_count_yy                 593559 non-null  float64
 25  median_listing_price_per_square_foot     913083 non-null  float64
 26  median_listing_price_per_square_foot_mm  675081 non-null  float64
 27  median_listing_price_per_square_foot_yy  669887 non-null  float64
 28  median_square_feet                       913083 non-null  float64
 29  median_square_feet_mm                    675081 non-null  float64
 30  median_square_feet_yy                    669887 non-null  float64
 31  average_listing_price                    913083 non-null  float64
 32  average_listing_price_mm                 714901 non-null  float64
 33  average_listing_price_yy                 714756 non-null  float64
 34  total_listing_count                      913083 non-null  float64
 35  total_listing_count_mm                   714901 non-null  float64
 36  total_listing_count_yy                   714756 non-null  float64
 37  pending_ratio                            913083 non-null  float64
 38  pending_ratio_mm                         714900 non-null  float64
 39  pending_ratio_yy                         714747 non-null  float64
dtypes: float64(36), object(4)
memory usage: 285.6+ MB

In [85]:
## arreglamos las variables de tipo objeto

In [86]:
df = df.drop(['flag'], axis=1)
df.rename(columns={'postal_code': 'ZIP'}, inplace=True)
df['ZIP'] = df['ZIP'].astype('str') 
df['ZIP'] = df['ZIP'].apply(lambda x: x.zfill(5))

In [87]:
## corregir el formato fecha
df['month_date_yyyymm'] = pd.to_datetime(df['month_date_yyyymm'],format = '%Y%m')
df.rename(columns={'month_date_yyyymm':'Date'}, inplace=True)

In [88]:
df['Month'] = df['Date'].dt.month
df['Year'] = df['Date'].dt.year
df['Date'] = df['Date'].dt.date
df.head()

,Date,ZIP,zip_name,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,...,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,Month,Year
0,2021-07-01,33029,"hollywood, fl",589000.0,-0.0531,NaN,62.0,0.0333,-0.2874,49.0,...,-0.0577,0.1723,199.0,0.0365,-0.1532,2.209677,0.0097,0.5085,7,2021
1,2021-07-01,12778,"smallwood, ny",169000.0,-0.0315,0.1267,15.0,0.0714,-0.1667,68.0,...,0.0315,-0.1380,16.0,0.0667,-0.1579,0.066667,-0.0048,0.0111,7,2021
2,2021-07-01,12309,"schenectady, ny",349900.0,-0.0266,-0.0458,71.0,0.2456,-0.2447,36.0,...,-0.0873,0.0273,226.0,0.0089,-0.0960,2.183099,-0.7467,0.5235,7,2021
3,2021-07-01,74074,"stillwater, ok",249900.0,0.0038,NaN,62.0,0.3191,-0.4095,24.0,...,-0.1173,-0.1517,145.0,0.0741,-0.1104,1.338710,-0.5336,0.7863,7,2021
4,2021-07-01,21128,"perry hall, md",400000.0,-0.0475,0.0013,14.0,-0.1250,NaN,40.0,...,0.0110,0.0389,51.0,-0.0192,1.0400,2.642857,0.3929,2.3929,7,2021

In [89]:
## crear variables de Ciudad y Estado
df[['city','STATE_ABBR']] = df.zip_name.str.split(',',expand=True)
df['STATE_ABBR'] = df['STATE_ABBR'].str.lstrip().str.upper()
df['city'] = df['city'].str.title()

df = df.sort_values(["STATE_ABBR", "Date"], ascending = (True, True)).reset_index(drop = True) # Default is ascending
df = df[ ['STATE_ABBR'] + [ col for col in df.columns if col != 'STATE_ABBR' ] ]
df

,STATE_ABBR,Date,ZIP,zip_name,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,...,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,Month,Year,city
0,AK,2016-07-01,99577,"eagle river, ak",349900.0,NaN,NaN,212.0,NaN,NaN,...,NaN,212.0,NaN,NaN,0.000000,NaN,NaN,7,2016,Eagle River
1,AK,2016-07-01,99503,"anchorage, ak",210000.0,NaN,NaN,26.0,NaN,NaN,...,NaN,26.0,NaN,NaN,0.000000,NaN,NaN,7,2016,Anchorage
2,AK,2016-07-01,99615,"kodiak, ak",305000.0,NaN,NaN,21.0,NaN,NaN,...,NaN,21.0,NaN,NaN,0.000000,NaN,NaN,7,2016,Kodiak
3,AK,2016-07-01,99639,"ninilchik, ak",189270.0,NaN,NaN,45.0,NaN,NaN,...,NaN,45.0,NaN,NaN,0.000000,NaN,NaN,7,2016,Ninilchik
4,AK,2016-07-01,99835,"sitka, ak",485000.0,NaN,NaN,46.0,NaN,NaN,...,NaN,46.0,NaN,NaN,0.000000,NaN,NaN,7,2016,Sitka
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913078,WY,2021-07-01,82732,"wright, wy",179000.0,-0.0056,-0.0628,19.0,0.0000,-0.0500,...,-0.0465,26.0,0.0000,0.0833,0.368421,0.0000,0.1684,7,2021,Wright
913079,WY,2021-07-01,82501,"riverton, wy",180000.0,0.0056,NaN,63.0,-0.0156,NaN,...,0.1082,63.0,-0.0156,-0.5191,0.000000,0.0000,-0.0077,7,2021,Riverton
913080,WY,2021-07-01,82935,"green river, wy",248000.0,0.0379,0.0808,30.0,0.2500,-0.4118,...,0.1165,30.0,0.2500,-0.4118,0.000000,0.0000,0.0000,7,2021,Green River
913081,WY,2021-07-01,82414,"cody, wy",799000.0,-0.0068,0.2543,58.0,0.0943,-0.2267,...,0.8901,96.0,0.0909,-0.2941,0.655172,-0.0052,-0.1582,7,2021,Cody
913082,WY,2021-07-01,82401,"worland, wy",249000.0,0.4695,NaN,28.0,0.0370,NaN,...,0.5664,29.0,0.0741,-0.4821,0.035714,0.0357,0.0357,7,2021,Worland

In [33]:
df['price_increased_count']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
913078    0.0
913079    4.0
913080    0.0
913081    0.0
913082    0.0
Name: price_increased_count, Length: 913083, dtype: float64

In [42]:
df.isnull().sum()

STATE_ABBR                                      0
Date                                            0
ZIP                                             0
zip_name                                        0
median_listing_price                            0
median_listing_price_mm                    198182
median_listing_price_yy                    257578
active_listing_count                            0
active_listing_count_mm                    198183
active_listing_count_yy                    256861
median_days_on_market                           0
median_days_on_market_mm                   198182
median_days_on_market_yy                   262937
new_listing_count                               0
new_listing_count_mm                       273007
new_listing_count_yy                       277642
price_increased_count                           0
price_increased_count_mm                   822946
price_increased_count_yy                   825302
price_reduced_count                             0
price_reduced_count_mm                     349261
price_reduced_count_yy                     333350
pending_listing_count                           0
pending_listing_count_mm                   297120
pending_listing_count_yy                   319524
median_listing_price_per_square_foot            0
median_listing_price_per_square_foot_mm    238002
median_listing_price_per_square_foot_yy    243196
median_square_feet                              0
median_square_feet_mm                      238002
median_square_feet_yy                      243196
average_listing_price                           0
average_listing_price_mm                   198182
average_listing_price_yy                   198327
total_listing_count                             0
total_listing_count_mm                     198182
total_listing_count_yy                     198327
pending_ratio                                   0
pending_ratio_mm                           198183
pending_ratio_yy                           198336
Month                                           0
Year                                            0
city                                            0
dtype: int64

In [64]:
## eliminar los cambios anuales
df = df.loc[:,~df.columns.str.contains('yy$')]

## eliminar price_increased_count_mm y price_reduced_count_mm por NAs
df = df.loc[:,~df.columns.str.contains('increased_count_mm|median_square_feet_mm|median_listing_price_per_square_foot_mm|pending_listing_count_mm|reduced_count_mm|new_listing_count_mm' )]

## eliminar NAs de mi Y
df.dropna(subset=['median_listing_price_mm','active_listing_count_mm','median_days_on_market_mm'],inplace=True)

In [65]:
df.isnull().sum()

STATE_ABBR                              0
Date                                    0
ZIP                                     0
zip_name                                0
median_listing_price                    0
median_listing_price_mm                 0
active_listing_count                    0
active_listing_count_mm                 0
median_days_on_market                   0
median_days_on_market_mm                0
new_listing_count                       0
price_increased_count                   0
price_reduced_count                     0
pending_listing_count                   0
median_listing_price_per_square_foot    0
median_square_feet                      0
average_listing_price                   0
average_listing_price_mm                0
total_listing_count                     0
total_listing_count_mm                  0
pending_ratio                           0
pending_ratio_mm                        0
Month                                   0
Year                                    0
city                                    0
dtype: int64

In [49]:
df

,STATE_ABBR,Date,ZIP,zip_name,median_listing_price,median_listing_price_mm,active_listing_count,active_listing_count_mm,median_days_on_market,median_days_on_market_mm,...,median_square_feet_mm,average_listing_price,average_listing_price_mm,total_listing_count,total_listing_count_mm,pending_ratio,pending_ratio_mm,Month,Year,city
482,AK,2017-07-01,99623,"wasilla, ak",260000.0,-0.0029,125.0,0.0417,57.0,0.008850,...,0.0295,2.785770e+05,-0.0108,125.0,0.0417,0.000000,0.0000,7,2017,Wasilla
483,AK,2017-07-01,99688,"willow, ak",150000.0,0.0000,67.0,0.0806,107.0,-0.277027,...,0.0220,1.882215e+05,-0.0287,67.0,0.0806,0.000000,0.0000,7,2017,Willow
484,AK,2017-07-01,99588,"glennallen, ak",135000.0,0.2512,13.0,-0.0714,92.0,0.135802,...,0.0000,1.698000e+05,0.2043,13.0,-0.0714,0.000000,0.0000,7,2017,Glennallen
485,AK,2017-07-01,99504,"anchorage, ak",260000.0,0.0013,188.0,0.0108,51.0,0.172414,...,0.0191,2.611097e+05,0.0195,188.0,0.0108,0.000000,0.0000,7,2017,Anchorage
486,AK,2017-07-01,99801,"juneau, ak",399000.0,-0.0316,99.0,0.1250,61.0,0.070175,...,-0.0125,4.334639e+05,-0.0129,99.0,0.1250,0.000000,0.0000,7,2017,Juneau
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913078,WY,2021-07-01,82732,"wright, wy",179000.0,-0.0056,19.0,0.0000,55.0,0.222222,...,0.0635,1.792682e+05,0.0296,26.0,0.0000,0.368421,0.0000,7,2021,Wright
913079,WY,2021-07-01,82501,"riverton, wy",180000.0,0.0056,63.0,-0.0156,44.0,0.128205,...,-0.0077,2.344338e+05,-0.0291,63.0,-0.0156,0.000000,0.0000,7,2021,Riverton
913080,WY,2021-07-01,82935,"green river, wy",248000.0,0.0379,30.0,0.2500,45.0,0.034483,...,0.0269,2.774829e+05,-0.0233,30.0,0.2500,0.000000,0.0000,7,2021,Green River
913081,WY,2021-07-01,82414,"cody, wy",799000.0,-0.0068,58.0,0.0943,49.0,-0.257576,...,-0.0578,1.562969e+06,0.0155,96.0,0.0909,0.655172,-0.0052,7,2021,Cody
913082,WY,2021-07-01,82401,"worland, wy",249000.0,0.4695,28.0,0.0370,50.0,0.204819,...,0.0008,2.763733e+05,0.0285,29.0,0.0741,0.035714,0.0357,7,2021,Worland

In [67]:
df_agg=df.drop(columns = ['Year','Month']).groupby(['ZIP','Date'], as_index=True).agg(np.mean)
df_agg

                  median_listing_price  median_listing_price_mm  \
ZIP   Date
01001 2017-07-01              229900.0                  -0.0763
      2017-08-01              229900.0                   0.0000
      2017-09-01              225000.0                  -0.0213
      2017-10-01              227400.0                   0.0107
      2017-11-01              239900.0                   0.0550
...                                ...                      ...
99950 2018-02-01              275000.0                   0.0000
      2018-04-01              275000.0                  -0.0803
      2018-05-01              275000.0                   0.0000
      2018-06-01              275000.0                   0.0000
      2018-07-01              275000.0                   0.0000

                  active_listing_count  active_listing_count_mm  \
ZIP   Date
01001 2017-07-01                  47.0                   0.0682
      2017-08-01                  44.0                  -0.0638
      2017-09-01                  49.0                   0.1136
      2017-10-01                  48.0                  -0.0204
      2017-11-01                  46.0                  -0.0417
...                                ...                      ...
99950 2018-02-01                  13.0                  -0.0714
      2018-04-01                  14.0                   0.1667
      2018-05-01                  14.0                   0.0000
      2018-06-01                  14.0                   0.0000
      2018-07-01                  15.0                   0.0714

                  median_days_on_market  median_days_on_market_mm  \
ZIP   Date
01001 2017-07-01                   64.0                  0.542169
      2017-08-01                   58.5                 -0.085938
      2017-09-01                   54.0                 -0.076923
      2017-10-01                   58.0                  0.074074
      2017-11-01                   63.0                  0.086207
...                                 ...                       ...
99950 2018-02-01                  247.5                  0.117381
      2018-04-01                  307.5                  0.110108
      2018-05-01                  335.5                  0.091057
      2018-06-01                  367.0                  0.093890
      2018-07-01                  370.5                  0.009537

                  new_listing_count  price_increased_count  \
ZIP   Date
01001 2017-07-01               20.0                    0.0
      2017-08-01               24.0                    0.0
      2017-09-01               16.0                    0.0
      2017-10-01               20.0                    4.0
      2017-11-01               20.0                    0.0
...                             ...                    ...
99950 2018-02-01                0.0                    0.0
      2018-04-01                0.0                    0.0
      2018-05-01                0.0                    0.0
      2018-06-01                0.0                    0.0
      2018-07-01                0.0                    0.0

                  price_reduced_count  pending_listing_count  \
ZIP   Date
01001 2017-07-01                 20.0                    3.0
      2017-08-01                 16.0                    8.0
      2017-09-01                 16.0                    6.0
      2017-10-01                  8.0                    6.0
      2017-11-01                  4.0                    8.0
...                               ...                    ...
99950 2018-02-01                  0.0                    0.0
      2018-04-01                  0.0                    0.0
      2018-05-01                  0.0                    0.0
      2018-06-01                  0.0                    0.0
      2018-07-01                  0.0                    0.0

                  median_listing_price_per_square_foot  median_square_feet  \
ZIP   Date
01001 2017-07-01                            158.450704              1380.0
      2017-08-01                            164.084507              1418.0
      2017-09-01                            158.362676              1418.0
      2017-10-01                            159.783345              1317.0
      2017-11-01                            156.506749              1320.0
...                                                ...                 ...
99950 2018-02-01                            113.714286              1152.0
      2018-04-01                            113.714286               725.0
      2018-05-01                            113.714286               725.0
      2018-06-01                            113.714286               725.0
      2018-07-01                            113.714286               700.0

                  average_listing_price  average_listing_price_mm  \
ZIP   Date
01001 2017-07-01            262133.9623                   -0.0043
      2017-08-01            262947.1514                    0.0031
      2017-09-01            254442.8571                   -0.0323
      2017-10-01            254658.0966                    0.0008
      2017-11-01            263012.1941                    0.0328
...                                 ...                       ...
99950 2018-02-01            291973.9011                   -0.0007
      2018-04-01            268892.8571                   -0.0841
      2018-05-01            268892.8571                    0.0000
      2018-06-01            268892.8571                    0.0000
      2018-07-01            253118.7500                   -0.0587

                  total_listing_count  total_listing_count_mm  pending_ratio  \
ZIP   Date
01001 2017-07-01                 50.0                 -0.0385       0.063830
      2017-08-01                 52.0                  0.0400       0.181818
      2017-09-01                 55.0                  0.0577       0.122449
      2017-10-01                 54.0                 -0.0182       0.125000
      2017-11-01                 54.0                  0.0000       0.173913
...                               ...                     ...            ...
99950 2018-02-01                 13.0                 -0.0714       0.000000
      2018-04-01                 14.0                  0.1667       0.000000
      2018-05-01                 14.0                  0.0000       0.000000
      2018-06-01                 14.0                  0.0000       0.000000
      2018-07-01                 15.0                  0.0714       0.000000

                  pending_ratio_mm
ZIP   Date
01001 2017-07-01           -0.1180
      2017-08-01            0.1180
      2017-09-01           -0.0594
      2017-10-01            0.0026
      2017-11-01            0.0489
...                            ...
99950 2018-02-01            0.0000
      2018-04-01            0.0000
      2018-05-01            0.0000
      2018-06-01            0.0000
      2018-07-01            0.0000

[714899 rows x 18 columns]

In [80]:
plt.plot(x = .column[1], y = .column[3])

SyntaxError: invalid syntax (Temp/ipykernel_6296/2725556688.py, line 1)